# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Modal
.modal/

# Virtual Environments
venv/
env/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo
